$breadcrumbs-margin-bottom: 2.5rem;
$breadcrumbs-font-size: 1rem;
$breadcrumbs-font-weight: 500;
$breadcrumbs-text-color: #777;
$breadcrumbs-text-separator: '/';

.breadcrumbs {
  margin-bottom: $breadcrumbs-margin-bottom;
  font-size: $breadcrumbs-font-size;
  font-weight: $breadcrumbs-font-weight;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    &:after {
      content: $breadcrumbs-text-separator;
      margin: 0 0.25rem;
      color: $breadcrumbs-text-color;
      opacity: 0.5;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  a {
    color: $breadcrumbs-text-color;
  }
}
